version: "3.7"

networks:
    dns:

secrets:
    CF_Email:
        file: secrets/CF_Email.txt
        # external: true
    CF_Token:
        file: secrets/CF_Token.txt
        # external: true
    SYNO_Username:
        file: secrets/SYNO_Username.txt
        # external: true
    SYNO_Password:
        file: secrets/SYNO_Password.txt
        # external: true

services:
    acme:
        image: "markdumay/synology-tls:2.8.6"
        # Override Synology's default 'db' driver to ensure logs are visible
        logging:
            driver: "json-file"
            options:
                max-size: "200k"
                max-file: "10"
        networks:
            dns:
        volumes:
            # make ACME data persistent (optional)
            - ./data/acme:/acme.sh
            # make log data persistent to simplify monitoring (optional)
            - ./data/log:/var/log
        deploy:
            restart_policy:
                condition: on-failure
                delay: 5s
                max_attempts: 3
                window: 120s
        secrets:
            - CF_Email
            - CF_Token
            - SYNO_Username
            - SYNO_Password
        environment:
            # Set to core domain in .env (e.g. example.com), wildcard is added automatically
            - DOMAIN=${DOMAIN}
            # Set to 'production' in .env to request real certificate, defaults to staging (appends '--test' parameter)
            - STAGE=${STAGE}
            # Set to 'true' in .env to force renew a cert immediately (appends '--force' parameter)
            - FORCE_RENEW=${FORCE_RENEW}
            # Deployment settings (using Synology hook)
            - DEPLOY_HOOK=${DEPLOY_HOOK}
            - SYNO_Certificate=${SYNO_Certificate}
            - SYNO_Create=1
            - SYNO_Hostname=${SYNO_Hostname}
            - SYNO_Port=${SYNO_Port}
            # Notification settings (using Slack hook)
            - NOTIFY_HOOK=${NOTIFY_HOOK}
            - NOTIFY_LEVEL=${NOTIFY_LEVEL}
            - SLACK_CHANNEL=${SLACK_CHANNEL}
            - SLACK_USERNAME=${SLACK_USERNAME}
            # Cron schedule
            - CRON_SCHEDULE=${CRON_SCHEDULE}
        # Run acme.sh in Daemon mode
        command: daemon